- unless @ads.empty?
  div class="row"
    - for ad in @ads do
      div class="span4"
        div class="row-fluid"
          div class="well"
            div class="row-fluid"
              div class="span2"
                img src="images/twitter.png"
              div class="span10" 
                h6 = time_to_now(ad.created_at)
                == ad.description_html
            div class="row-fluid"
              div class="span2"
                h5 Тэги
              div class="span10"
                h5 == show_tags(ad)
- else
  div class="row-fluid"
    div class="well"
      p Нет объявлений