div class="container"
  header class="jumbotron subhead"
    div class="subnav"
      ul class="nav nav-pills"
        li
          a href="/" id="bbtn" Built with Less
        li
          a href="/" id="vars" Variables
        li
          a href="/" id="mixins" Mixins
        li
          a href="/" id="compiling" Compiling Bootstrap
div id="result" class="container"
