doctype html
html
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    meta name="description" content=""
    meta name="author" content=""
    title ==settings.title
    link href==url('styles/bootstrap.css') rel="stylesheet"
    link href==url('styles/bootstrap-responsive.css') rel="stylesheet"
    link href==url('styles/docs.css') rel="stylesheet"
    link href==url('styles/chosen.css') rel="stylesheet"
    link href==url('styles/custom.css') rel="stylesheet"
    style body { padding-top: 60px; }
    script type="text/javascript" src="/js/jquery-1.7.2.min.js" language="JavaScript"
    /!script type="text/javascript" src="http://platform.twitter.com/widgets.js" language="JavaScript"
    script type="text/javascript" src="/js/choosen.jquery.js" language="JavaScript"
    script type="text/javascript" src="/js/application.js" language="JavaScript"
    script type="text/javascript" src="/js/bootstrap-transition.js" language="JavaScript"
    script type="text/javascript" src="/js/bootstrap-alert.js" language="JavaScript"
    script type="text/javascript" src="/js/bootstrap-modal.js" language="JavaScript"
    script type="text/javascript" src="/js/bootstrap-dropdown.js" language="JavaScript"
    script type="text/javascript" src="/js/bootstrap-scrollspy.js" language="JavaScript"
    script type="text/javascript" src="/js/bootstrap-tab.js" language="JavaScript"
    script type="text/javascript" src="/js/bootstrap-tooltip.js" language="JavaScript"
    script type="text/javascript" src="/js/bootstrap-popover.js" language="JavaScript"
    script type="text/javascript" src="/js/bootstrap-button.js" language="JavaScript"
    script type="text/javascript" src="/js/bootstrap-collapse.js" language="JavaScript"
    script type="text/javascript" src="/js/bootstrap-carousel.js" language="JavaScript"
    script type="text/javascript" src="/js/bootstrap-typeahead.js" language="JavaScript"
    script type="text/javascript" src="/js/custom.js" language="JavaScript"
  body  data-spy="scroll" data-target=".subnav" data-offset="50"
    div class="navbar navbar-fixed-top"
      div class="navbar-inner"
        div class="container"
          a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"
            span class="icon-bar"
            span class="icon-bar"
            span class="icon-bar"
          a class="brand" href="/" Publicite
          div class="nav-collapse"
            ul class="nav"
              li class="active"
                a href="components.html#" Главная
              li class="dropdown"
                a href="#" class="dropdown-toggle" data-toggle="dropdown" #{settings.default_city} <b class="caret"></b>
                ul class="dropdown-menu"
                  - for city in settings.cities
                    li
                      a href="/" = city
          ul class="nav pull-right"
            - if current_user
              li
                a href="/new" Добавить объявление
              li class="divider-vertical"
              li
                a href="/new" Мои объявления
              li class="divider-vertical"
              li class="dropdown"
                a href="#" class="dropdown-toggle" data-toggle="dropdown" Привет, #{current_user_name} <b class="caret"></b>
                ul class="dropdown-menu"
                  li
                    a href="/" Action
                  li
                    a href="/" Another action
                  li
                    a href="/" Something else here
                  li class="divider"
                  li
                    a href="/" Separated link
            - else
              li
                a href='auth/twitter' Войти с помощью Twitter-аккаунта
    == yield

