div class="row"
  div class="span4 offset4"
    h2 Отправить объявление
div class="row"
  div class="span8 offset2"
    form method="post" action="/" class="well"
      div class="row"
        div class="span2"
          p
          h6 Город
        div class="span4"  
          div class="control-group"
            div class="controls"
              select name="city"
                option Иваново
                option Шуя
                option Кинешма
      div class="row"
        div class="span2"
          p
          h6 Основная тематика
        div class="span4"  
          div class="control-group"
            div class="controls"
              select name="cat"
                option Недвижимость и земля
                option Авто/мото/вело
                option Техника
                option Гардероб
                option Детские вещи
                option Работа
      div class="row"
        div class="span2"
          p
          h6 Подраздел
        div class="span4"
          div class="control-group"
            div class="controls"
              select name="subcat"
                option Куплю
                option Продам
                option Услуги
      div class="row"
        div class="span2"
          p
          h6 Текст сообщения
        div class="span4"  
          textarea class="input-xlarge" name='description'
          span class="help-inline" Введите ваше сообщение
      div class="row"  
        div class="span2"
          h6 Теги
        div class="span4"
          input type='text' class="input-xlarge" name='tags'
          span class="help-inline" Запишите теги
      div class="form-actions"
        button type="submit" class="btn btn-primary" Опубликовать