/*.navbar-inner {
  background-color: #222244; /* background color will be black for all browsers
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}*/

.well {
  background-color: rgba(255, 255, 255, 0.8);
}

.nav-pills{
  background-color: rgba(255, 255, 255, 0.8);
}
